# OSX
.DS_Store

# Python
.venv/
*.pyc
__pycache__/

# Node
node_modules/
npm-debug.log
yarn-error.log

# React Native
.expo/
.expo-shared/

# Android
android/app/build/
android/build/
android/.gradle/
android/app/debug/
android/app/release/
android/app/.cxx/
android/.cxx/
*.apk
*.aab
*.so
*.keystore
local.properties

# iOS
ios/build/
ios/Pods/
ios/*.xcworkspace/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Bundle artifacts
*.jsbundle

# CocoaPods
ios/Pods/

# VS Code
.vscode/

# Misc
.env
.env.local
